.content {
  margin: 0px;
  padding: 0px;
  align-items: center;
}
.container{
  margin-top: -28px;
  /* margin: 20px; */
  padding: 55px;
  width: 100%;
  background-color: whitesmoke;
}
.contentmenu{
  margin: 5px;
  float: right;
  top: 200px;
}
.contentitem {
  padding: 5px;
  width: 100%;
  margin-top: 14px;
}

.menuIconFirst{
  margin: 29px;
  font-size: 24px;
  color: black;
} 
a{
  color: black;
}
.menuIcon{
  margin: 15px;
  float: right;
  font-size: 24px;
} 

.contentItem{
  margin: 8px;
  padding: 10px;
}
.itemTodos{
 background-color: whitesmoke;
 /* margin: 0px;*/
 width: 100%;
 /* float:right; */
} 
.itemTodo{
  background-color: white;
  margin: 5px;
  width: 100%;
  border-left: 4px solid #410537;
 } 
.contentItemTodo{
  padding: 4px;
  margin-left: 36px;
}
.contentButtonTodo {
  margin-left: 123px;
  padding: 13px 12px;
  /* align-items: center; */
}
textarea {
  width: 100vh;
  overflow: auto;
  resize: vertical;
  margin-top: 42px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}
.bttonupdate{
  margin: 0 9px;
}

li {
  float: left;
  text-align: center;
  padding: 10px 12px;
}

/* ok*/
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
  
  box-shadow: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
}
.itemTodo:nth-child(4n+3) {
  border-left: 4px solid greenyellow;
}
.itemTodo:nth-child(3n+1) {
  border-left: 4px solid red;
}
.itemTodo:nth-child(3n+2) {
  border-left: 4px solid #410537;
}
.itemTodo:nth-child(3n+3) {
  border-left: 4px solid orange;
}
.itemTodo:nth-child(4n+3) {
  border-left: 4px solid blue;
}
