.content {
  margin: 15px;
  padding: 50px;
  align-items: center;
}
.container{
  margin: 20px;
  padding: 20px;
  width: 100%;
  background-color: whitesmoke;
}
.contentmenu{
  margin: 5px;
  float: right;
  top: 200px;
}
.contentitem {
  padding: 5px;
  width: 100%;
}
.menu{
  margin: 8px;
  float: right;
} 

.contentItem{
  margin: 8px;
  padding: 10px;
}
.itemTodo{
 background-color: white;
 margin: 10px;
 border-left: 4px solid #410537;
} 
.contentItemTodo{
  padding: 4px;
  margin-left: 36px;
}
.contentButtonTodo{
  margin-left: 123px;
}
textarea {
  width: 100vh;
  overflow: auto;
  resize: vertical;
  margin-top: 42px;
}
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
  /* -webkit-box-shadow: none; */
  box-shadow: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
}

.itemTodo:nth-child(3n+1) {
  border-left: 4px solid red;
}

.itemTodo:nth-child(3n+2) {
  border-left: 4px solid #410537;
}
.itemTodo:nth-child(3n+3) {
  border-left: 4px solid orange;
}
.itemTodo:nth-child(4n+3) {
  border-left: 4px solid blue;
}
